@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@font-face {
  font-family: 'ICTV';
  src: url('$lib/fonts/ICTV-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bulbasaur';
  src: url('$lib/fonts/BulbasaurSP.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'ICTV', sans-serif;
}
